.pricelist {
    padding-top: 50px;
    &-grid {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 366px);
        justify-content: space-between;
        gap: 15px;
    }
    &__item {
        font-weight: 700;
        position: relative;
        &:before {
            content:'';
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background: $main-color;
            position: absolute;
            top: 3px;
        }
        padding-left: 20px;  
        display: grid;
        row-gap: 5px;
        grid-template-columns: auto;
        justify-content: space-between;

        &_price {
            font-size: 14px;
            justify-self: end;
        }
        &__descr {
            font-weight: 500;
            font-size: 12px;
            grid-column: 1/3;
        }
    }

}