.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 195px;
    &__title {
        margin-top: 15px;
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
    .hamburger {
        position: absolute;
        top: 20px;
        right: 30px;
        height: 21px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background: #151812;
            }
        span.long {
            width: 36px;
        }    
        }
   }